@page "/login"
@rendermode InteractiveServer
@inject IAuthService C_AuthService
@inject NavigationManager C_NavigationManager

<MudText Typo="Typo.h5" Align="Align.Center" Class="m-3">Login</MudText>

@if (C_MostrarErros)
{
    <div class="d-flex justify-content-center">
        <MudPaper Width="300px" Class="alert alert-danger" Elevation="2">
            @foreach (var error in C_Erros)
            {
                <MudText Typo="Typo.body1">@error</MudText>
            }
        </MudPaper>
    </div>
}

<div class="d-flex justify-content-center">
    <MudPaper Width="300px" Class="p-4" Elevation="5">
        <EditForm Model="C_Login" FormName="Login">
            <DataAnnotationsValidator />

            <MudTextField Label="Usuário" @bind-Value="C_Login!.Usuario" For="(() => C_Login!.Usuario)" />
            <MudTextField InputType="InputType.Password" Label="Senha" @bind-Value="C_Login.Senha" For="(() => C_Login.Senha)" />

            <div class="d-flex justify-content-center">
                <MudButton Variant="Variant.Filled" Class="mt-5" OnClick="cm_Login" Color="Color.Primary" Disabled="C_Carregando">Login</MudButton>
            </div>
        </EditForm>
    </MudPaper>
</div>

@if (C_Carregando)
{
    <div class="d-flex justify-content-center mt-5">
        <MudProgressCircular Color="Color.Inherit" Indeterminate="true" />
    </div>
}